$black: #000000;
$white:#fff;
$primary: #7dd3dc;
$secondary: #2f2c54;


$grey1:#eaeaea;
$grey2:#b5b5b5;
$grey3:#f7f7f7;
$grey4:#6c757d;
$grey5:#e3e5fc;
$grey6:#cacce3;
$grey7:#e6dbfb;
$grey8:#f0f0f0;
$grey9:#f5f5f5;

$yellow:#FFA500;

$red:#ff6961;
$red2:#ef4444;

$green:#28A745;
$green2:#2ecc71;
$green3:#7dff8c;
$green4:#4fe46c;

$blue:#e6e0fa;
$blue2:#8447e7;
$blue3:#6d57fe;