$font-size-10: 10px;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-17: 17px;
$font-size-18: 18px;
$font-size-19: 19px;
$font-size-20: 20px;
$font-family: 'Montserrat', sans-serif !important;
$font-icon: 'Material Icons Round' !important;

$regular:400;
$medium:500;
$semiBold:600;
$bold:700;
