$desktop-md: "screen and (min-width: 769px)";
$desktop-max-md: "screen and (max-width: 768px)";
$tab-max: "screen and (max-width: 769px)";

$desktop-start: "screen and (min-width: 1200px)";
$desktop-big: "screen and (min-width: 1400px)";
$desktop-xxl: "screen and (min-width: 1600px)";

$desktop-lg: "screen and (min-width: 1025px)";
$desktop-max-lg: "screen and (max-width: 1024px)";

$max-mob: "screen and (max-width: 480px)";
