<section class="todo-wrapper">
  <div class="todo-box">
    <div class="todo-header">TODO App</div>
    <div class="top-header">
      <mat-tab-group
        class="custom-tabs"
        (selectedIndexChange)="selectedTab = $event; applyFilter()"
      >
        <mat-tab label="All"></mat-tab>
        <mat-tab label="Completed"></mat-tab>
        <mat-tab label="Pending"></mat-tab>
      </mat-tab-group>
      <button class="btn btn-primary" mat-raised-button (click)="openDialog()">
        Add Task
      </button>
    </div>

    <div class="todo-list">
      <div class="task-row" *ngFor="let task of filteredTasks; let i = index">
        <mat-checkbox
          class="custom-checkbox"
          [disabled]="
            task.checkboxDisabled || task.currentStatus === 'Completed'
          "
          [checked]="task.currentStatus === 'Completed'"
          (change)="onCheckboxChange($event, task)"
        ></mat-checkbox>

        <div class="task-content">
          <h3>{{ task.title }}</h3>
          <p>{{ task.description }}</p>

          <span
            class="status"
            [ngClass]="
              task.currentStatus === 'Pending' ? 'pending' : 'completed'
            "
            >{{ task.currentStatus }}</span
          >
        </div>
        <div
          class="task-action"
          (click)="deleteTask(task.id)"
          matTooltip="Delete"
          matTooltipPosition="above"
        >
          <span class="material-icons-round"> delete </span>
        </div>
      </div>
      <div class="no-data" *ngIf="filteredTasks.length == 0">
        <div class="no-data-img">
          <img src="/images/no-data.jpg" alt="" />
        </div>
        <h4 class="no-data-title">No data here</h4>
      </div>
    </div>
  </div>
</section>
