@use "../assets/scss/base" as *;
.todo-wrapper {
  padding: 6rem;
  background: $secondary;
  position: relative;
  overflow: hidden;
  height: 100vh;
  @media only #{$desktop-md} {
    &::before {
      content: "";
      position: absolute;
      top: -12rem;
      right: -12rem;
      width: 42rem;
      height: 42rem;
      background: radial-gradient(
        circle at center,
        $primary 0%,
        #ff5fb3 45%,
        transparent 70%
      );
      border-radius: 50%;
      opacity: 0.9;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -140px;
      left: -140px;
      width: 460px;
      height: 460px;
      background: radial-gradient(
        circle at center,
        $green3 0%,
        $green4 45%,
        transparent 70%
      );
      border-radius: 50%;
      opacity: 0.9;
    }
  }

  .todo-box {
    margin: 0 auto;
    padding: 2rem;
    width: 100%;
    background: $white;
    border-radius: 6px;
    @media only #{$desktop-md} {
      width: 600px;
    }
    .todo-header {
      margin-bottom: 2rem;
      font-size: $font-size-20;
      font-weight: $semiBold;
    }
    .todo-list {
      overflow: auto;
      @media only #{$desktop-md} {
        height: calc(100vh - 250px);
      }
    }
    .top-header {
      position: relative;
      @media only #{$desktop-md} {
        .btn-primary {
          position: absolute;
          right: 0;
          top: 0;
          z-index: 99;
          margin-bottom: 0;
        }
      }
      .btn-primary {
        margin-bottom: 1.6rem;
      }

      .custom-tabs {
        margin-bottom: 16px;

        ::ng-deep {
          .mat-mdc-tab-label-container {
            border: none;
          }
          .mat-mdc-tab-header {
            border-bottom: none;
          }

          .mat-mdc-tab {
            min-width: 60px;
            border-radius: 6px;
            margin-right: 1rem;
            font-weight: $medium;
            color: $grey8;
            background: $grey9;
            transition: all 0.3s ease;
            flex-grow: 0 !important;
            height: 4rem;
            padding: 0 1.5rem;
            .mdc-tab__text-label {
              color: $grey4;
            }
          }

          .mat-mdc-tab:hover {
            background: $grey1;
          }

          .mat-mdc-tab.mdc-tab--active {
            background: $primary;
            .mdc-tab__text-label {
              color: $white !important;
            }
          }

          .mdc-tab-indicator {
            @include d-none;
          }

          .mdc-tab__text-label {
            font-size: $font-size-14;
          }
        }
      }
    }

    .task-row {
      padding: 10px;
      @include main-flex(space-between, center);
      gap: 16px;
      margin-bottom: 12px;
      border-radius: 6px;
      border: 1px solid $grey8;
      .task-content {
        flex: 1;
        h3 {
          margin: 0;
          font-size: $font-size-18;
          font-weight: $medium;
        }
        p {
          font-size: $font-size-16;
          word-break: break-all;
          margin: 4px 0;
          color: $grey4;
          line-height: 24px;
        }
        .status {
          font-size: $font-size-14;
          &.pending {
            color: $yellow;
          }

          &.completed {
            color: $green;
          }
        }
        .task-actions {
          @include main-flex(flex-end, center);
          gap: 8px;
        }

        .btn-edit,
        .btn-delete {
          padding: 4px 12px;
          font-size: $font-size-14;
          border-radius: 12px;
          border: 1px solid transparent;
          cursor: pointer;
          transition: all 0.2s ease;
        }
      }
      .task-action {
        color: $red;
        cursor: pointer;
        transition: color 0.2s ease;

        &:hover {
          color: $red2;
          animation: shake 0.4s ease-in-out;
        }
      }
      ::ng-deep {
        .custom-checkbox {
          &.mat-mdc-checkbox {
            .mdc-checkbox__background {
              border-radius: 50%;
              border-color: $grey8;
            }

            &.mat-mdc-checkbox-checked {
              .mdc-checkbox__background {
                border-color: none;
                background-color: $green2;
                border-color: $green2;
              }

              .mdc-checkbox__checkmark {
                transform: scale(0.7);
                transform-origin: center;
              }

              .mdc-checkbox__checkmark-path {
                stroke: $white;
                stroke-width: 3px;
              }
            }
          }
        }
      }
    }
    .no-data {
      @include main-flex-all(center, center, column);
      @media only #{$desktop-md} {
        height: calc(100vh - 300px);
      }
      .no-data-img {
        width: 30rem;
      }
      .no-data-title {
        font-size: $font-size-18;
      }
    }
  }
}
